<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.young.sarangbang.model.mapper.StockMapper">
    <select id="getsStockInfos" resultType="com.young.sarangbang.model.entity.stock.domain.StockInfo">
        select * from StockInfo order by regDate asc
    </select>

    <select id="getsStockCompany" resultType="com.young.sarangbang.model.entity.stock.domain.StockCompany">
        select * from StockCompany
    </select>

</mapper>